@keyframes colorchange {
    from {background-color: rgb(13, 0, 255);}
    to {background-color: rgb(0, 179, 255);}
  }


body {
    color: rgb(204, 209, 247);
    animation: colorchange 5s infinite;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
